#GradeChecker Configuration File

[Login]
#Username for ParentConnect
Username=

#Password for ParentConnect
Password=


[Connection]
#URLs for ParentConnect
Host = https://parentconnect.aacps.org
Assignment = /AssignmentsSchedule.asp
Login = /WebService/OCE_ws.asmx/CheckUpdateAccountInfo


[Grades]
#How many grades can we expect?
Number = 9

[Output]
#Comma seprated list of output modules you'd like to run
Modules = console, json
