#GradeChecker Configuration File

[Login]
#Username for ParentConnect
Username=

#Password for ParentConnect
Password=


[Connection]
#Host URL for ParentConnect
Host = parentconnect.aacps.org

#Don't change these unless you know what you're doing!
Home = /HomePage.asp
Assignment = /AssignmentsSchedule.asp
Data = /WebService/OCE_ws.asmx/CheckUpdateAccountInfo 
Login = /Login.asp?LoginState=2

[Grades]
#How many grades can we expect?
Number = 9

[Output]
#Comma seprated list of output modules you'd like to run
Modules = console, json
